---
import Layout from '../layouts/Layout.astro';
import SolarSystem from '../components/SolarSystem.astro';
---

<Layout title="Sistema Solar Interactivo">
	<main class="h-screen">
		<SolarSystem />
	</main>
</Layout>
